<?xml version='1.0' encoding='utf-8'?>
<!-- For more information on the config.xml format, see https://cordova.apache.org/docs/en/11.x/config_ref/ -->
<widget id="com.cuiter.cashplot" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CashPlot</name>
    <description>Helps finding trends in your finances</description>
    <author email="contact@cuiter.me" href="https://cuiter.me">
        Casper Uiterwijk
    </author>

    <icon src="../public/assets/img/favicon-512x512.png"  />
    <platform name="android">
        <!-- Adaptive icons generated with https://icon.kitchen/ -->
        <icon density="xxxhdpi" src="../public/assets/img/adaptive-icon/mipmap-xxxhdpi/ic_launcher.png" foreground="../public/assets/img/adaptive-icon/mipmap-xxxhdpi/ic_launcher_foreground.png" background="../public/assets/img/adaptive-icon/mipmap-xxxhdpi/ic_launcher_background.png" />
        <icon density="xxhdpi"  src="../public/assets/img/adaptive-icon/mipmap-xxhdpi/ic_launcher.png"  foreground="../public/assets/img/adaptive-icon/mipmap-xxhdpi/ic_launcher_foreground.png"  background="../public/assets/img/adaptive-icon/mipmap-xxhdpi/ic_launcher_background.png" />
        <icon density="xhdpi"   src="../public/assets/img/adaptive-icon/mipmap-xhdpi/ic_launcher.png"   foreground="../public/assets/img/adaptive-icon/mipmap-xhdpi/ic_launcher_foreground.png"   background="../public/assets/img/adaptive-icon/mipmap-xhdpi/ic_launcher_background.png" />
        <icon density="hdpi"    src="../public/assets/img/adaptive-icon/mipmap-hdpi/ic_launcher.png"    foreground="../public/assets/img/adaptive-icon/mipmap-hdpi/ic_launcher_foreground.png"    background="../public/assets/img/adaptive-icon/mipmap-hdpi/ic_launcher_background.png" />
        <icon density="mdpi"    src="../public/assets/img/adaptive-icon/mipmap-mdpi/ic_launcher.png"    foreground="../public/assets/img/adaptive-icon/mipmap-mdpi/ic_launcher_foreground.png"    background="../public/assets/img/adaptive-icon/mipmap-mdpi/ic_launcher_background.png" />
    </platform>

    <content src="index.html" />
    <allow-intent href="https://*/*" />

    <preference name="SplashScreenDelay" value="2000" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="500" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#fa5b0f" />
    <splash src="www/assets/img/splash-screen.png" />
</widget>


